/* .add input.form-control {
  width: 80%;
  position: absolute;
  right: 0;
  top: 0;
}
.add form.addForm {
  border: solid 1px black;
  padding: 10px;
}
.add .addInput {
  margin: 5px 10px;
  height: 60px;
  display: flex;
  position: relative;
}
.add .label-div {
  width: 20%;
  float: left;
  height: 40px;
  position: absolute;
  left: 0;
  top: 15px;
}*/
.add .btn-custom {
  border-radius: inherit;
  text-align: center;
}
.add .error-message {
  margin-left: 254px;
}

.add .label-div label {
  margin-top: 12px;
}

.container.container-center {
  width: 60%;
}

.btn-group {
  display: table;
  margin: 0 auto;
}

/*css for the header of application*/
.header-background {
  background-image: url("../image/header-image3.png");
  background-repeat: no-repeat;
  background-size: 1262px 250px;
  background-position: center;
}

.header-title {
  font-size: 45px;
  font-weight: bolder;
  color: white;
}

.logo {
  width: 15%;
  float: left;
}

.logo img {
  width: 90%;
  margin-top: -45px;
}